a {
    text-decoration: none;
}

body {
    background-color: #181718;
    font-family: "Geist", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-weight: 500;
}

.form-title{
    color: #8c8c8c;
}

input {
    background-color: #181718;
    color: white;
    border: 1px solid #8c8c8c;
    border-radius: 4px;
    padding: 10px;
}