<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Friendly Neighborhood Startups</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/home.css">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap" rel="stylesheet">

</head>

<body>
    <div class="container">
        <div id="header" class="d-flex flex-row justify-content-between">
            <div class="d-flex">
                <span style="color:#7F7F7F">📍 Bengaluru/ <span style="color: white;">ಬೆಂಗಳೂರು</span></span>
            </div>

            <div>
                <span style="color:#7F7F7F">Build by <a href="https://apes.xyz"><span
                        style="color: white;text-decoration: underline;text-underline-offset: 10px;">Apes</span></a></span>
            </div>
        </div>

        <div class="main-content d-flex flex-column gap-2">
            <span class="mb-4" style="color: #8C8C8C;font-size: 32px;">Welcome to,</span>
            <div class="d-flex flex-row gap-2 align-items-center">
                <svg class="me-5" width="120" height="120" style="min-width: 120px; min-height: 120px;"
                    viewBox="0 0 105 105" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_127_398)">
                        <g clip-path="url(#clip1_127_398)">
                            <path
                                d="M-1.5415 -1.41968H58.5399V44.7968C58.5399 52.4542 52.3324 58.6617 44.675 58.6617H-1.5415V-1.41968Z"
                                fill="white" />
                        </g>
                        <path
                            d="M-1.5415 66.7501H44.675C52.3324 66.7501 58.5399 72.9577 58.5399 80.6151V126.832H-1.5415V66.7501Z"
                            fill="white" />
                        <path
                            d="M66.2437 -1.03369H126.325V59.0477H80.1086C72.4512 59.0477 66.2437 52.8402 66.2437 45.1828V-1.03369Z"
                            fill="white" />
                        <path
                            d="M66.2437 80.6151C66.2437 72.9577 72.4512 66.7501 80.1086 66.7501H126.325V126.832H66.2437V80.6151Z"
                            fill="white" />
                    </g>
                    <defs>
                        <clipPath id="clip0_127_398">
                            <rect y="0.121338" width="104.757" height="104.757" rx="18.4866" fill="white" />
                        </clipPath>
                        <clipPath id="clip1_127_398">
                            <path
                                d="M-1.5415 -1.41968H58.5399V44.7968C58.5399 52.4542 52.3324 58.6617 44.675 58.6617H-1.5415V-1.41968Z"
                                fill="white" />
                        </clipPath>
                    </defs>
                </svg>
                <div class="w-100 d-flex flex-column">
                    
                        <span class="w-100" style="font-size: 64px; color: white; line-height: 75px; text-align: justify;">Friendly</span>
                        <span class="w-100" style="font-size: 64px; color: white; line-height: 75px; text-align: justify;">Neighborhood Startups</span>
                    
                </div>
            </div>
            <span class="mt-2" style="color: #8C8C8C;font-size: 18px;">
                Lorem ipsum dolor sit amet consectetur. Urna imperdiet nec ornare odio felis. Ultrices quam rhoncus quam
                pharetra quam viverra ullamcorper mollis neque.
            </span>
            <div class="d-flex flex-row justify-content-between mt-4">
                <div></div>
                <a href="/">
                    <div id="get-started-button" class="d-flex flex-row gap-2 align-items-center px-5 py-3">
                        <span style="font-size: 18px;color: #171717"> Get Started</span>
                        <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M7.5307 4.41205C7.85614 4.08661 8.38377 4.08661 8.70921 4.41205L13.7092 9.41205C14.0346 9.73748 14.0346 10.2651 13.7092 10.5906L8.70921 15.5906C8.38377 15.916 7.85614 15.916 7.5307 15.5906C7.20526 15.2651 7.20526 14.7375 7.5307 14.412L11.9414 10.0013L7.5307 5.59056C7.20526 5.26512 7.20526 4.73748 7.5307 4.41205Z"
                                fill="#272625" />
                        </svg>

                    </div>
                </a>
            </div>
        </div>
    </div>
</body>

</html>